.heading {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: 36px;
    letter-spacing: normal;
    text-align: left;
    padding-bottom: 8px;
    color: #151e27;
}

.sub-heading {
    font-size: 14px;
    max-width: 340px;
}


button.btn-primary:nth-child(1), #Identifícate {
    border-color:#3665f3;
    background-color: #3665f3 ;
    font-weight: 700;
    padding: 13px 20px;
    
}

button.btn-light {
    border: 1px solid;
    padding: 13px 20px;
    background-color: #fff;
    min-height: 48px;
    color: #151e27;
}

button.btn-light:hover {
    border: 1px solid;
    background-color: #f5f5f5;
}

#Identifícate{  
    color:white;
}
